//process.module=['conda']

params{
  threads=1
  output_assemblies="megahit_assemblies"
  //ncbi_sample_id="./hgm_to_assemble.test.tsv"
  //ncbi_proj_id="define in standard input"
  //ini.file=  //define software running options in inifile
  //enaGroupGet= "~/local_programs/enaBrowserTools-0.0.3/python3/enaGroupGet.py"
  //enaDataGet= "~/local_programs/enaBrowserTools-0.0.3/python3/enaDataGet.py"
}

timeliene{
  enabled=true
  file="./timeline.html"
}

manifest{
  name='nf_assembly_megahit'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_assembly_megahit"
  description="pipeline for assembly NCBI id fastq sequences using megahit"
  mainScript="main.nf"
  version="0.1"
}
